@font-face {
    font-family: "petrochemicons";
    src: url('../assets/fonts/custom/petrochemicons.eot');
    src: url('../assets/fonts/custom/petrochemicons.eot?#iefix') format('eot'),
         url('../assets/fonts/custom/petrochemicons.woff') format('woff'),
         url('../assets/fonts/custom/petrochemicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ico {
    font-family: "petrochemicons";
    vertical-align: middle;
    font-size: 50px;
}

.ico:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}

.ico-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.ico-2x { font-size: 2em; }
.ico-3x { font-size: 3em; }
.ico-4x { font-size: 4em; }
.ico-5x { font-size: 5em; }
.ico-fw {
    width: 1.2857142857142858em;
    text-align: center;
}

.ico-test1:before { content: "\E001" }
.ico-test2:before { content: "\E002" }
.ico-test3:before { content: "\E003" }
.ico-test4:before { content: "\E004" }
.ico-test5:before { content: "\E005" }
.ico-test6:before { content: "\E006" }
.ico-test7:before { content: "\E007" }
