/**
 * Icons
 * -----
 * Required icons register using
 * Ionicons font family.
 */

.icon
  position relative

  /**
   * Set defaults.
   */
  &:before
    font-family $icons
    font-size rem(22px)

    /**
     * Register basic icons.
     */

    .phone&
      content '\f2d2'

    .facebook&
      content '\f231'

    .twitter&
      content '\f243'

    .instagram&
      content '\f351'

    .youtube&
      content '\f24d'

    .pinterest&
      content '\f2b1'

    .linkedin&
      content '\f239'

  /**
   * Style arrow ( up / down ) icon.
   */
  &.arrow
    font-size rem(30px)
    display inline-block
    margin auto

    &:before
      pointer-events none
      transition color 400ms

      .up&
        content '\f3d8' // up char
        font-size rem(40px)

      .down&
        content '\f3d0' // down char

    /**
     * Arrow transitions on hover.
     */

    &:hover

      &:before
        color $primary

      &:after
        transform translate(-50%, -50%) scale(1.1)
