/**
 * Layout
 * ------
 * Main layout component.
 */

/**
* Set default section spacing.
*/
section
  padding 100px 0

/**
 * Set section to be skewed on top.
 */
section,
footer
  background $white

  &.skewed-top
    position relative
    z-index 1

    .col
      z-index 99999

    &::before
      background inherit
      content ''
      display block
      height 100%
      left 0
      right 0
      top 0
      position absolute
      z-index -1
      bottom 0
      transform skewY(3deg)
      transform-origin 100%
      -webkit-backface-visibility hidden

  &.skewed-bottom
    position relative
    z-index 1

    .col
      z-index 99999

    &::after
      background inherit
      content ''
      display block
      height 100%
      right 0
      left 0
      bottom -100%
      position absolute
      z-index -1
      transform skewY(3deg)
      transform-origin 100%
      -webkit-backface-visibility hidden

/**
 * Grid
 */
.block
  display table
  position relative
  width 100%
  table-layout fixed
  overflow visible

  /**
   * Set block to full height.
   */
  &.fullHeight
    height 100vh

  /**
   * Set block to site width.
   */
  &.siteWidth
    max-width $max-width
    margin auto

  /**
   * Set block to full width.
   */
  &.fullWidth
    max-width 100%
    margin auto

  &.block-reverse
    direction rtl

    & > .col
      direction ltr

  /**
   * Registe block's children
   * as it's helper elements.
   */
  & > .col
    display table-cell
    width auto
    height 100%
    vertical-align top
    padding 15px 10px

    &.col-1
      width 8.333333%

    &.col-2
      width 16.666667%

    &.col-3
      width 25%

    &.col-4
      width 33.333333%

    &.col-5
      width 41.666667%

    &.col-6
      width 50%

    &.col-7
      width 58.333333%

    &.col-8
      width 66.666667%

    &.col-9
      width 75%

    &.col-10
      width 83.333333%

    &.col-11
      width 91.666667%

    &.col-12
      width 100%

    /**
     * Set alignments.
     */

    &.middle
      vertical-align middle

      @media (max-width: $mobile)
        padding-top 150px

    &.bottom
      vertical-align bottom

    &.center
      text-align center

    /**
     * Revert to display
     * block on mobile.
     */
    @media only screen and (max-width: $mobile)
      display block
