doctype html
html(lang='en')
  head
    title Starter Kit
    include meta/head.jade

  body
    //- include components/loader.jade

    include components/nav.jade

    include content/home/header.jade
    include content/home/about.jade

    include components/footer.jade

    include meta/scripts.jade
