/**
 * Overlay layer
 */

.layer.overlay
  absolute 0
  overflow hidden
  pointer-events none
  z-index -1

  &.black
    background transparent($black, 80%)

  &.white
    background transparent($white, 20%)



