/**
 * Overlay layer
 */

.layer.overlay
  absolute 0
  overflow hidden
  pointer-events none
  z-index -1

  &.black
    background transparent($black, 80%)

  &.white
    background transparent($white, 20%)

  &.bronze
    background transparent($bronze, 30%)

  &.slate
    background transparent($slate,  30%)

  &.gradient
    background radial-gradient(circle at top left, \
      transparent( mix($bronze, $black), 70%), transparent($black, 70%))

  &.gradient-dark
    background radial-gradient(circle at top left, \
      transparent( mix($bronze, $black, 20%), 80%), transparent($black, 100%))

  &.gradient-light
    background radial-gradient(circle at top left, \
      transparent( mix($bronze, $black, 20%), 50%), transparent($black, 50%))


