section#about
  .row.siteWidth
    .col.center
      h2 Great
    .col.center
      h2 Simple
    .col.center
      h2 Framework

section#alo
  .row.siteWidth
    .col.col-8.center
      .row
        .col.col-6
          p FIRST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dicta, nulla dolor pariatur voluptas iste voluptatibus facilis provident quam? 
        .col.col-6
          p SECOND Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vel amet laudantium voluptate vitae commodi dolor magni molestias tempore molestiae, ad enim architecto, nam. Vero velit repellat vitae, quidem fugiat.
      .row
        .col
          p BOTTOM Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis id, quasi vero tenetur possimus tempora esse est? Ab perferendis maiores at, veniam maxime praesentium ut harum facilis modi, assumenda deserunt!
    .col.col-4.center
      p Libero, porro voluptates veniam commodi magni soluta eius amet expedita laborum.

section#center
  .row.siteWidth
    .col.center.middle
      h1 CENTER

section#columns
  .row.siteWidth
    .col.center
      p You can reverse order to match perfection on mobile & desktop

  .row.siteWidth.row-reverse
    .col.center
      h2 First
    .col.center
      h2 Second
        
