header#header
  .row.fullWidth.fullHeight
    .col.center.middle
      .layer.video.zoom
        .col
          video(src='./assets/videos/header.mp4' autoplay loop muted)

      .layer.overlay.black

      h2 Frontend Framework
      button.button Button
    