/**
 * Config
 * ------
 * Variables for default
 * styling across site.
 */

$english = 'Helvetica Neue', sans-serif
$icons   = 'Ionicons'

$font-size = 16px

$primary   = #2980b9
$secondary = #34495e

$text = #666

$white = #fff
$black = #000

$max-width = 1000px
$mobile    = 768px

$header-height = 760px
